body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:32px;
}
#u2324 {
  position:absolute;
  left:156px;
  top:50px;
  width:445px;
  height:53px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:32px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:8px;
  width:441px;
  word-wrap:break-word;
}
#u2326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2326 {
  position:absolute;
  left:983px;
  top:62px;
  width:148px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2327 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u2328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2328 {
  position:absolute;
  left:1157px;
  top:62px;
  width:102px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2329 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u2330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:2px;
}
#u2330 {
  position:absolute;
  left:54px;
  top:93px;
  width:1187px;
  height:1px;
}
#u2331 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:28px;
}
#u2332 {
  position:absolute;
  left:54px;
  top:118px;
  width:825px;
  height:204px;
  font-size:16px;
  line-height:28px;
}
#u2333 {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  word-wrap:break-word;
}
#u2334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:300px;
}
#u2334 {
  position:absolute;
  left:54px;
  top:332px;
  width:806px;
  height:300px;
}
#u2335 {
  position:absolute;
  left:2px;
  top:142px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
}
#u2338 {
  position:absolute;
  left:920px;
  top:118px;
  width:128px;
  height:57px;
}
#u2339 {
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u2340 {
  position:absolute;
  left:1056px;
  top:125px;
  width:207px;
  height:68px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u2342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2342 {
  position:absolute;
  left:920px;
  top:187px;
  width:360px;
  height:1px;
}
#u2343 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:28px;
}
#u2344 {
  position:absolute;
  left:54px;
  top:662px;
  width:806px;
  height:204px;
  font-size:16px;
  line-height:28px;
}
#u2345 {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  word-wrap:break-word;
}
#u2346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:827px;
}
#u2346 {
  position:absolute;
  left:889px;
  top:118px;
  width:1px;
  height:826px;
}
#u2347 {
  position:absolute;
  left:2px;
  top:405px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
}
#u2350 {
  position:absolute;
  left:920px;
  top:252px;
  width:128px;
  height:57px;
}
#u2351 {
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u2352 {
  position:absolute;
  left:1056px;
  top:259px;
  width:207px;
  height:68px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u2353 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u2354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2354 {
  position:absolute;
  left:920px;
  top:321px;
  width:360px;
  height:1px;
}
#u2355 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
}
#u2358 {
  position:absolute;
  left:920px;
  top:382px;
  width:128px;
  height:57px;
}
#u2359 {
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u2360 {
  position:absolute;
  left:1056px;
  top:389px;
  width:207px;
  height:68px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u2361 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u2362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2362 {
  position:absolute;
  left:920px;
  top:451px;
  width:360px;
  height:1px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2365 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
}
#u2366 {
  position:absolute;
  left:920px;
  top:516px;
  width:128px;
  height:57px;
}
#u2367 {
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u2368 {
  position:absolute;
  left:1056px;
  top:523px;
  width:207px;
  height:68px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u2369 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u2370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2370 {
  position:absolute;
  left:920px;
  top:585px;
  width:360px;
  height:1px;
}
#u2371 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
}
#u2374 {
  position:absolute;
  left:920px;
  top:652px;
  width:128px;
  height:57px;
}
#u2375 {
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u2376 {
  position:absolute;
  left:1056px;
  top:659px;
  width:207px;
  height:68px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u2377 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u2378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2378 {
  position:absolute;
  left:920px;
  top:721px;
  width:360px;
  height:1px;
}
#u2379 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
}
#u2382 {
  position:absolute;
  left:920px;
  top:781px;
  width:128px;
  height:57px;
}
#u2383 {
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u2384 {
  position:absolute;
  left:1056px;
  top:788px;
  width:207px;
  height:68px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u2385 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u2386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2386 {
  position:absolute;
  left:920px;
  top:850px;
  width:360px;
  height:1px;
}
#u2387 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  background:-webkit-linear-gradient(0deg, rgba(46, 92, 204, 1) 0%, rgba(46, 92, 204, 1) 0%, rgba(0, 153, 255, 1) 76%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(46, 92, 204, 1) 0%, rgba(46, 92, 204, 1) 0%, rgba(0, 153, 255, 1) 76%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  background:linear-gradient(90deg, rgba(46, 92, 204, 1) 0%, rgba(46, 92, 204, 1) 0%, rgba(0, 153, 255, 1) 76%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2389 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
}
#u2390 {
  position:absolute;
  left:2px;
  top:17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:2px;
}
#u2391 {
  position:absolute;
  left:0px;
  top:50px;
  width:1262px;
  height:1px;
}
#u2392 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2393 {
  position:absolute;
  left:383px;
  top:16px;
  width:76px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2394 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2395 {
  position:absolute;
  left:566px;
  top:16px;
  width:54px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2396 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2397 {
  position:absolute;
  left:895px;
  top:16px;
  width:55px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2398 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2399 {
  position:absolute;
  left:728px;
  top:16px;
  width:59px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2400 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2401 {
  position:absolute;
  left:231px;
  top:16px;
  width:44px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2402 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u2403 {
  position:absolute;
  left:1004px;
  top:16px;
  width:69px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u2404 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u2405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u2405 {
  position:absolute;
  left:1073px;
  top:16px;
  width:45px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u2406 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u2407 {
  position:absolute;
  left:18px;
  top:6px;
  width:39px;
  height:39px;
}
#u2408 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2409 {
  position:absolute;
  left:61px;
  top:11px;
  width:111px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2410 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2411 {
  position:absolute;
  left:1174px;
  top:13px;
  width:52px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2412 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u2413 {
  position:absolute;
  left:527px;
  top:63px;
  width:326px;
  height:20px;
  color:#0000FF;
}
#u2414 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  white-space:nowrap;
}
#u2415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u2415 {
  position:absolute;
  left:991px;
  top:83px;
  width:268px;
  height:20px;
  color:#0000FF;
}
#u2416 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u2417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u2417 {
  position:absolute;
  left:422px;
  top:260px;
  width:288px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u2418 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u2419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u2419 {
  position:absolute;
  left:1041px;
  top:203px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u2420 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u2421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1158px;
  height:54px;
  background:-webkit-linear-gradient(85deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(5deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(5deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 51, 255, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2421 {
  position:absolute;
  left:52px;
  top:906px;
  width:1158px;
  height:54px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2422 {
  position:absolute;
  left:2px;
  top:16px;
  width:1154px;
  word-wrap:break-word;
}
